/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---Base---*/
html{
	font-size: 62.5%;
}

body{
    font: 12px/1.55 Arial, Helvetica, sans-serif;
}

*{
    font-family: 'Inter', sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

:root{
    --black-default: #262626;
    --main: #666;
    --second-main: #969696;
}

a{
    text-decoration: none;
}

li {
	list-style: none;
}
/* ----Default padding----*/
header, section, footer {
    padding: 0 5%;
}
/* ----End Default padding----*/
/* ---End Base---*/

/* ---Header--- */
header{
    color: var(--main);
    background-color: red;
    width: 100%;
    z-index: 999;
}

.header__container{
    display: flex;
    height: 8rem;
    background-color: aqua;
}

.header-container__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container__items{
    display: flex;
}

.header-container__items .item{
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
}
/* ---End Header--- */

/* ---Banner--- */

.banner {
    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
}

.banner:hover .buttons {
    width: 88%;
    opacity: 1;
}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.list {
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
    position: relative;
}

.list img {
    width: 100%;
    max-width: 90vw;
    height: auto;
    object-fit: cover;
}

.buttons {
    position: absolute;
    width: 80%;
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    opacity: 0;
    transition: opacity 0.5s linear, width 0.5s linear;
}

.buttons button {
    background-image: none;
    background: transparent;
    border: 3px solid #FF8C00;
    color: #FF8C00;
    border-radius: 20px;
    cursor: pointer;
    margin: 0;
    padding: 0.4em 0.8em;
    font-size: 2.5rem;
    line-height: 1.2rem;
}

.buttons button:hover {
    background-color: #FF8C00;
    color: #fff;
}


.dots {
    position: absolute;
    bottom: 10%;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    z-index: 11;
}

.dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 50px;
}

.dots li.active {
    width: 35px;
    background-color: #FF8C00;
}
.dots li:hover{
    background: #FF8C00;
}

@media (min-width: 320px){
    .buttons button{
        padding: 0.2em 0.4em;
        font-size: 1.5em;
    }
}

@media (min-width: 480px){
    .buttons button{
        padding: 0.45em 0.9em;
        font-size: 1.9em;
    }
}
/* ---End Banner--- */

/* ---Reservation Delivery--- */
.reservation-delivery{
    width: 100%;
    height: 100%;
}

.reservation{
    width: 92em;
    height: 61em;
    display: flex;
    justify-content: center;
    margin: auto;
}

/* ---Responsive--- */
/* Mobile */
@media (min-width: 320px){
    .reservation-delivery{
        width: 100%;
        height: 100%;
    }
    .reservation{
        width: 20em;
        height: 20em;
    }
}

@media (min-width: 480px){
    .reservation{
        height: 38em;
    }
}

/* ---End Responsive--- */

/* ---End Reservation Delivery--- */

/* ---MAP--- */
.map{
    width: 90vi;
    height: 400px;
    padding: 0;
    margin: 2px;
}

.map iframe{
    width: 99vi;
    height: 100%;
}
/* ---End MAP--- */
